body {
    background-color: #d0b3d3c9;

    color: #2a2e2e;
  }
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #d0f8ddc9;
  }
